<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="deviceManagement" />
                <binding name="uDirectory" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/DH/devicemanagement" binding="basicHttpBinding"
                bindingConfiguration="deviceManagement" contract="ricoh.deviceManagement.deviceManagementPortType"
                name="deviceManagement" />
            <endpoint address="http://127.0.0.1/DH/udirectory" binding="basicHttpBinding"
                bindingConfiguration="uDirectory" contract="ricoh.uDirectory.uDirectoryPortType"
                name="uDirectory" />
        </client>
    </system.serviceModel>
</configuration>